# Dependencies
node_modules/
build

# Build output
dist/

# env files
.env
.env.development
.env.production
.env.local
.env.*.local

# IDE
.vscode/
.opencode/node_modules

# TypeScript incremental
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
